.container{
   display:flex;
}

#banner p{
   flex:1;
}

nav a {
   flex:1;
   color:white;
   background-color:green;
}

#siderbar{
   flex-direction:column;
   flex:1;
}

#main, #sample{
   justify-content: center;
   align-items: center;
   flex:3;
}

#footer p{
   text-align: center;
   flex:1;
   background-color: green;
}
#footer{
   background-color: green;
}